<div class="page-wrapper">
    <app-nav-manager></app-nav-manager>
    <div class="page-container">
        <app-search></app-search>
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-start">

                            <button type="button" class="btn btn-secondary mb-1" >
                                <i class="fas fa-arrow-left"></i> Retour
                            </button>
                        </div>
                    </div>
                    <!-- Tableau ici -->
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive table--no-card m-b-30">
                                <table class="table table-borderless table-striped table-earning">
                                    <thead>
                                        <tr>
                                            <th>Service</th>
                                            <th>Sous-service</th>
                                            <th>Insertion piece</th>
                                            <th>Piece</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let service of this.dataVoiture">
                                            <tr *ngFor="let sousService of service.sousServices; let i = index">
                                                <td *ngIf="i === 0" [attr.rowspan]="service.sousServices.length">
                                                    {{ service.nomService }}
                                                </td>
                                                <td>{{sousService.nomSousService}}</td>
                                                <td><a href="#"  data-toggle="modal" data-target="#mediumModal">Ajouter</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#largeModal">voir</a></td>
                                            </tr>
                                        </ng-container>
                                        <!-- <tr>
                                            <td>S1</td>
                                            <td>SS1</td>
                                            <td><a href="#">Ajouter</a></td>
                                            <td><a href="#">voir</a></td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <app-footers></app-footers>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal medium -->
<div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Ajoute d'un vehicule</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                            <form action="#"  class="form-horizontal">
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="piece" class=" form-control-label">Piece</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select id="piece" class="form-control" name="piece">
                                            <option *ngFor="let piecy of this.piece.piece">{{piecy.nompiece}}</option>
                                        </select>
                                    </div>
                                    
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="quantite" class=" form-control-label">Quantite</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="quantite"  placeholder="Entrer quantite" name="quantite" class="form-control"  >
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-sm" style="float: right;" >
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </form>
                        </div>
               
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button> -->
                <!-- <button type="button" class="btn btn-primary">Confirm</button> -->
            </div>
        </div>
    </div>
</div>
<!-- end modal medium -->
 <!-- modal large -->
 <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"  >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive table--no-card m-b-30">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th>Piece</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Huile Moteur</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div> -->
        </div>
    </div>
</div>
<!-- end modal large -->