<div class="page-wrapper">
    <app-nav-manager></app-nav-manager>
    <div  class="page-container">
        <app-search></app-search>
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-container" *ngFor="let item of this.rdv; let i=index">
                                <!-- Élément de la liste principale -->
                                <div class="rectangle" (click)="toggleSousListe(i)">
                                    {{item.idclient.nom}}  | {{item.daterdv | date:'dd-MM-yyyy'}}   |   {{item.idbloc.bloc}}
                                    <span class="toggle-btn">▶</span>
                                </div>
                                <!-- Sous-liste -->
                                <div class="sous-liste" *ngFor="let car of item.voitureIds" [ngClass]="{'d-none': !isVisible[i]}">
                                    <div class="row">
                                        <div class="col-md-4 sous-item">{{car.voiture.nomvoiture}}  {{car.voiture.immatriculation}}</div>
                                        <div class="col-md-4 sous-item">Ajouter Piece</div>
                                        <!-- <div class="col-md-4 sous-item">Insertion piece</div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- <div class="copyright">
                                <p>RAMAROSANDRTANA Johary Ny Aina Nirina</p>
                                <p>RAVELOMANANA Herimalala Mihary Christelle</p>
                            </div> -->
                            <app-footers></app-footers>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
