<div class="page-wrapper">
    <app-nav></app-nav>
    <div  class="page-container">
        <app-search></app-search>
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                           <div class="card">
                                <div class="card-header">
                                    <strong>Voiture</strong>
                                    <div class="card-body card-block">
                                        <form action="#"  class="form-horizontal">
                                           
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="matricule" class=" form-control-label">Numero matricule</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="matricule"  placeholder="Entrer matricule" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="nom" class=" form-control-label">Nom voiture</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="nom"  placeholder="Entrer voiture" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="marque" class=" form-control-label">Marque</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select  id="marque" class="form-control" >
                                                        
                                                        <option value="#">Choix</option>
                                                       
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="categorie" class=" form-control-label">Categorie</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select  id="categorie" class="form-control" >
                                                        
                                                        <option value="#">Choix</option>
                                                       
                                                    </select>
                                                </div>
                                                
                                            </div>
                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary btn-sm" style="float: right;">
                                                    <i class="fa fa-dot-circle-o"></i> Submit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                           </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="table-responsive table--no-card m-b-30">
                                <table class="table table-borderless table-striped table-earning">
                                    <thead>
                                        <tr>
                                            <th>Marque</th>
                                            <th>Categorie</th>
                                            <th>Nom</th>
                                            <th>Immatriculation</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <app-footers></app-footers>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>